In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./cache/data.csv', encoding='utf-8')
print(df.shape)
df.head()

(17985, 5)

,date,News,GICS Sector,Label1Sig,Label2Sig
0,2010-01-05,These images depict the untouched stomach cont...,Consumer Discretionary,0,0
1,2010-01-05,These images depict the untouched stomach cont...,Consumer Staples,0,0
2,2010-01-05,These images depict the untouched stomach cont...,Energy,0,0
3,2010-01-05,These images depict the untouched stomach cont...,Financials,1,0
4,2010-01-05,These images depict the untouched stomach cont...,Health Care,0,0

In [6]:
df[df['Label1Sig'] == 0].shape

(13302, 5)

In [7]:
df[df['Label1Sig'] == 1].shape

(2283, 5)

In [10]:
df[df['Label1Sig'] == -1].shape

(2400, 5)

In [8]:
df[df['Label2Sig'] == 0].shape

(17007, 5)

In [9]:
df[df['Label2Sig'] == 1].shape

(382, 5)

In [11]:
df[df['Label2Sig'] == -1].shape

(596, 5)

In [12]:
df.tail()

,date,News,GICS Sector,Label1Sig,Label2Sig
17980,2016-07-01,A 117-year-old woman in Mexico City finally re...,Information Technology,0,0
17981,2016-07-01,A 117-year-old woman in Mexico City finally re...,Materials,0,0
17982,2016-07-01,A 117-year-old woman in Mexico City finally re...,Real Estate,0,0
17983,2016-07-01,A 117-year-old woman in Mexico City finally re...,Telecommunications Services,0,0
17984,2016-07-01,A 117-year-old woman in Mexico City finally re...,Utilities,0,0